code/sse_code
documents/XRB_modeling.aux
documents/XRB_modeling.dvi
documents/XRB_modeling.log
plots
literature
documents/XRB_modeling.pdf
data/Geneva/
data/sse_data
data/lmc_data/lmc_coolav.fits.txt
data/lmc_data/lmc_hotav.fits
data/lmc_data/lmc_sfh.dat
notebooks/.ipynb_checkpoints/
data2
documents/XRB_modeling.synctex.gz
documents/data/
data_2
data/smc_data/
figures/
code/bse_code/*.o
code/bse_code/*.in
code/bse_code/*.out
code/bse_code/*.txt
code/bse_code/sse
code/bse_code/bse
code/bse_code/popbin
code/bse_code/pybse.so
code/bse_code/binary.dat
SF_history/sf_history.pyc
notebooks/Backward Evolution.ipynb
documents/abstract*
code/bse_code/.ipynb_checkpoints
code/bse_code/evolve.dat
code/bse_code/fort.99
code/bse_code/*.pdf
data/lmc_data/proposed_regions.txt
binary/load_sse.pyc
binary/binary_evolve.pyc
constants/constants.pyc
stats/stats.pyc
notebooks/density_contour.pyc
pop_synth/pop_synth.pyc
data/*.obj
